[alias]
    a = add
    ca = commit -a
    cam = commit -am
    cob = checkout -b
    lg = log --oneline --graph --decorate --all
    pog = push origin gh-pages
    pom = push origin master
    puog = pull origin gh-pages
    puom = pull origin master
    s = status
[color]
    ui = auto
[commit]
    # Automatically sign all commits so you don't have to specify -S
    gpgsign = true
[core]
    # Runs VS Code and ensures Git waits for the editor to close before continuing with the operation.
    editor = code --wait
[credential]
    helper = osxkeychain
[diff]
    #
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[github]
    user = GIT_USERNAME
[gpg]
    # Use the SSH key instead of a GPG for signing.
    format = ssh
[gpg "ssh"]
    # Use the 1Password's binary for signing, so you don't have to set SSH_AUTH_SOCK.
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[help]
    autocorrect = 1
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[pull]
    rebase = true
[push]
    default = simple
[user]
    name = GIT_NAME
    email = GIT_EMAIL
    signingkey = GIT_SSH_PUBLIC_KEY
[tag]
    gpgSign = true