[user]
    name = GIT_NAME
    email = GIT_EMAIL
[github]
    user = GITHUB_USERNAME
[alias]
    a = add
    ca = commit -a
    cam = commit -am
    s = status
    pom = push origin master
    pog = push origin gh-pages
    puom = pull origin master
    puog = pull origin gh-pages
    cob = checkout -b
[credential]
    helper = osxkeychain